<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify for Unwrapped</title>
		<meta name="description" content="Benchmark web pages over time.">
		<meta name="generator" content="{{ eleventy.generator }}">
		  <script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>

		<main class="max-w-3xl mx-auto py-24 lg:py-32 px-8">
			{{ content | safe }}
		</main>
		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>